.category-list {
  position: absolute;
  color: $light-text;
  width: 40%;

  @media (max-width: 600px) {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .category-item {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-family: $body-font;
    cursor: pointer;
  }

  li.category-item.active {
    color: $accent-color;
  }

  li:hover {
    color: $accent-color;
  }
}

.category-item .active {
  color: $accent-color;
}
