.category-list {
  position: absolute;
  color: $light-text;
  width: 40%;

  @media (max-width: 600px) {
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-family: $body-font;
  }
}
