.podcast-list {
  position: relative;
  z-index: 10;
  width: 70%;
  margin-left: 30%;

  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0%;
  }
}

.podcast-list-item {
  border-bottom: 1px solid $med-gray;
  padding: 10px;
  display: grid;
  grid-template-areas: "title date";
  grid-template-columns: 2fr 1fr;

   a {
     text-decoration: none;
   }
}

.podcast-list-item-title {
  grid-area: title;
  margin-right: 10px;

  color: $accent-color;


}

.podcast-list-item-episode {
  grid-area: episode;
}

.podcast-list-item-date {
  grid-area: date;
  font-family: $detail-font;
  font-size: 1.2rem;
  text-align: right;
}
