.podcast-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin-left: 30%;

  @media (max-width: 600px) {
    width: 100%;
    margin-left: 0%;
  }
}

.podcast-grid-item {
  margin: 20px;
  text-align: center;

  img {
    width: 150px;
    height: 150px;
  }

 .podcast-grid-item-authors, .podcast-grid-item-episode, .podcast-grid-item-date  {
    font-family: $detail-font;
    font-size: 1.4rem;
  }

  .podcast-grid-item-title {
    margin-top: 10px;
    max-width: 150px;
    font-size: 1.4rem;
  }

  .podcast-grid-item-episode {
    margin-top: 5px;
  }

}
