.podcast-episode {
  color: $dark-text;
  border-top: 5px solid $accent-color;
  background-color: $light-text;
  padding: 10px;
  text-align: left;
  margin: 10px auto;
  width: 80%;
  display: grid;
  grid-template-areas: 'title       title       duration'
                       'date        play        play'
                       'description description description';
  grid-template-columns: 1fr 3fr 1fr;
  transition: height 0.2s ease;

}

.podcast-episode-title {
  font-weight: bold;
  grid-area: title;
  margin-bottom: 5px;
}

.podcast-episode-duration {
  grid-area: duration;
  text-align: right;
}

.podcast-episode-date {
  grid-area: date;
  font-size: 1.4rem;
  line-height: 25px;
}

.podcast-episode-play {
  grid-area: play;
  display: flex;
  justify-content: left;

  p {
    line-height: 25px;
    font-size: 1.4rem;
  }


  .podcast-episode-play-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    path {
      fill: $play-button-color;
    }
  }

  .podcast-episode-play-button:hover {
    path {
      fill: $accent-color;
    }
  }

  .podcast-go-button {
    svg {
      width: 20px;
      height: 20px;
    }
    path {
      fill: $go-button-color;
    }
  }


  .podcast-episode-settings-button {
    font-size: 1.2rem;
    margin-left: 5px;
  }
}

.podcast-episode-description {
  grid-area: description;
  margin-top: 5px;
}

.podcast-episode-toggle {
  cursor: pointer;
  text-transform: uppercase;
  color: $dark-text;
  background-color: $accent-color;
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 1000px;
  font-size: 1.0rem;
  margin-top: 10px;
  font-weight: bold;
}
