body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 62.5%;
  @include linearGradientLeftRight($background-left, $background-right);
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

h1 {
  font-size: 5.0rem;
  @media (max-width: 500px) {
    font-size: 4.0rem;
  }
}

h2 {
  font-size: 4.0rem;
  @media (max-width: 500px) {
    font-size: 3.0rem;
  }
}

h3 {
  font-size: 3.0rem;
  @media (max-width: 500px) {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2.4rem;
  @media (max-width: 500px) {
    font-size: 2.0rem;
  }
}

h5 {
  font-size: 2.0rem;
  @media (max-width: 500px) {
    font-size: 1.8rem;
  }
}

h6 {
  font-size: 1.8rem;
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}

p {
  font-size: 1.6rem;
  font-family: $body-font;
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}

.section-title {
  color: $light-text;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}


.list-sort {
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-right: 10px;

  .label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
  }

  .icon {
    cursor: pointer;
    font-size: 1.6rem;
  }
}

.view {
  padding-bottom: 100px;
}
