.home {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-text {
  text-align: center;
  position: absolute;
  top: 15%;
  width: 60%;
  color: $light-text;

  @media (max-width: 600px) {
    width: 90%;
  }
}

.home-buttons-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    @include button;
    width: 200px;
    color: $dark-text;
  }

  button:first-of-type {
    background: $accent-color;
  }
}
