// Typography
$roboto: 'Roboto', 'Open Sans', sans-serif;
$roboto-condensed: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$header-font: $ubuntu;
$body-font: $roboto;
$detail-font: $roboto-condensed;
$input-font: $roboto;

// Colors
$near-black: #232323;
$light-text: white;
$dark-text: #232323;
$accent-color: #2CFFD9;
