// Typography
$roboto: 'Roboto', 'Open Sans', sans-serif;
$roboto-condensed: 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$header-font: $ubuntu;
$body-font: $roboto;
$detail-font: $roboto-condensed;
$input-font: $roboto;

// Colors
$light-gray: #e0e0e0;
$med-gray: #757575;
$dark-gray: #424242;
$near-black: #232323;
$near-white: #f2f8ff;
$mint: #2CFFD9;
$ice-blue: #c2e0ff;
$light-green: #8BC34A;

// Color Assignments
$light-text: $near-white;
$dark-text: #232323;
$accent-color: #2cffec;
$play-button-color: $dark-text;
$go-button-color: $dark-text;
$player-track-color: #bababa;

$background-left: black;
$background-right: $near-black;

// Layout
$section-bottom-margin: 50px;

// Box Shadows
$sm-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$md-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$lg-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
